/* ADD/REMOVE/CHANGE THEMES HERE */

// Giving the default theme a name
// @include theme-maker("default", ());
@include theme-maker("green", (
  theme (
	bg #2EB398
  ),
  header (
    logout (
      bg #2EB398,
      hover-bg #31C0A3
    ),
    navbar-nav(
      bg #2EB398,
      hover-bg #31C0A3
    ),
  ),
  sidebar (
	avatar (
	  bg #56B596
	),
	controls (
	  bg #279982,
	  btn (
		color #1B6858,
		border darken(#279982, 2%),
		active-bg #1E7362,
		active-color #56B596
	  )
	)
  )
));

@include theme-maker("blue", (
  theme (
    bg #4A90E2
  ),
  header (
    logout (
      bg #6FA2D9,
      hover-bg #80BAF9
    ),
  ),
  sidebar (
    avatar (
      bg #80BAF9
    ),
    controls (
      bg #6FA2D9,
      btn (
        color lighten(#38516C, 15%),
        border #6C9DD2,
        active-bg #80BAF9,
        active-color darken(#6FA2D9, 15%)
      )
    )
  )
));

@include theme-maker("default", (
  theme (
    bg #68A0A5
  ),
  navbar-nav(
    bg #2EB398,
    hover-bg #31C0A3
  ),
  header (
    logout (
      bg #5C8E92,
      hover-bg #70ACB2
    ),
  ),
  sidebar (
    avatar (
      bg #70ACB2
    ),
    controls (
      bg #5C8E92,
      btn (
        color lighten(#70ACB2, 10%),
        border #58878B,
        active-bg #70ACB2,
        active-color white
      )
    )
  )
));

// @include theme-maker("default", (
//   theme (
//     bg #ff7f50
//   ),
//   navbar-nav(
//     bg #ff7f50,
//     hover-bg #ff7f50
//   ),
//   header (
//     logout (
//       bg #ff7f50,
//       hover-bg #ff7f50
//     ),
//   ),
//   sidebar (
//     avatar (
//       bg #ff7f50
//     ),
//     controls (
//       bg #ff7f50,
//       btn (
//         color lighten(#ff7f50, 10%),
//         border #ff7f50,
//         active-bg #ff7f50,
//         active-color white
//       )
//     )
//   )
// ));
