html, body {
	overflow: hidden;
}

.desktop-app .app-container {
	width: 100%;
	z-index: 999;
}

.menu-link {
	text-decoration: none !important;
}

.menu-link a u {
	text-decoration: none !important;
}

.menu-master-strat {
	font-weight: bold;
	text-decoration: none !important;
}

.change-password-form { 
	width: 800px;
}

/////////////////////////////////////////////////////
.full-side-bar { 
	height: 100% !important;
	padding: 0px;
	overflow-y: auto !important;
	background-color: #272822;
}

.full-side-bar::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.full-side-bar::-webkit-scrollbar-track {
	background: #272822; 
	border-radius: 10px;
}

.json-content {
	font-family: monospace !important;
	color: lightgray;
}

.json-content-title {
	font-size: 22px;
	color: gray;
	height: 24px;
	display: inline-flex;
	vertical-align: middle;
	font-weight: bold;
}

/* Handle */
.full-side-bar::-webkit-scrollbar-thumb {
	background: #6b6e5e; 
	border-radius: 10px;
}

/* Handle on hover */
.full-side-bar::-webkit-scrollbar-thumb:hover {
    background: #9ea191; 
}

/////////////////////////////////////////////////////
.v-scrollable { 
	padding: 0px;
	overflow-y: auto !important;
	background-color: #272822;
}

.v-scrollable::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.v-scrollable::-webkit-scrollbar-track {
	background: #272822; 
	border-radius: 10px;
}

/* Handle */
.v-scrollable::-webkit-scrollbar-thumb {
	background: #6b6e5e; 
	border-radius: 10px;
}

/* Handle on hover */
.v-scrollable::-webkit-scrollbar-thumb:hover {
	background: #9ea191; 
}

/////////////////////////////////////////////////////

.dev-alpha-title {
	color: white !important;
	// font-weight: bold;
	font-size: 16pt !important;
	font-family: monospace !important;
	text-align: center;
}

.dev-alpha-title-modified {
	color: yellow !important;
	font-weight: bold !important;
	font-size: 16pt !important;
	font-family: monospace !important;
	text-align: center;
}

/////////////////////////////////////////////////////

.live-results {
	position: absolute;
	top: 80%;
	bottom: 100%;
}

.dev-alpha-pubtitle {
	color: red !important;
	font-weight: bold;
	font-size: 16pt !important;
	text-align: center;
}

.dev-create-alpha {
    position: absolute;
    transition: .5s ease;
    top: 90%;
	left: 80%;
}

.dev-open-output {
    position: absolute;
    transition: .5s ease;
    top: 90%;
	left: 95%;
}

.dev-output-window {
	margin-left: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 400px;
	font-family: monospace;
	font-size: 9pt;
}

/////////////////////////////////////////////////////////////////
.port-alpha-item { 
	// width: 400px !important;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	// border-color: black;
	// border-width: 2px;
	// border-spacing: 4px;
	font-family: monospace;
}

.port-alpha-item-media img { 
	-webkit-filter: opacity(1) drop-shadow(0 0 0 #00BCD4);
	filter: opacity(1) drop-shadow(0 0 0 #00BCD4); 

	// transform: translateX(0px)
}

.port-alpha-item-media-active { 
	color: cyan;
	font-family: monospace;
}

.port-alpha-item-media-active img { 
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 cyan);
	filter: opacity(.5) drop-shadow(0 0 0 cyan); 
}

.port-alpha-item-header {
	background-color: transparent !important;
	font-family: monospace;
}

.port-alpha-item-header-active {
	// background-color: rgb(96, 96, 96) !important;
	color: cyan;
	font-family: monospace;
}

.port-alpha-item-footer {
	background-color: transparent !important;
	font-family: monospace;
}

.port-feed {
	background-color: rgb(32, 32, 32);
	font-family: monospace;
	height: 100% !important;
}

.port-alpha-feed-item-add-strat-title {
	font-size: 14px !important;
	font-family: monospace;
}

.port-alpha-feed-item-table-title {
	width: 100%;
	table-layout: fixed;
	border: 0px !important;
	border-spacing: 0px !important;
	font-family: monospace;
}

//////////////////////////////////////////

.small-table {
	font-size: 12px !important;
}

.alpha-delete-button {
	color: #ff0066
}

.alpha-publish-button { 
	color: aqua;
}
 
.main-market {
	vertical-align: middle;
}

.results-embedded {
	background-color: #272822;
	overflow: hidden !important;
}
 
.results {
	background-color: #272822; 
}
 
.hidden {
	display: none !important;
}

.disabled {
	pointer-events: none;
}

.output-window {
	height: 320px;
}

.alpha-settings-title-container {
	// border-bottom: 1px solid;
	background-color: #001f3f;
	height: 50px;
}

.alpha-settings-title {
	font-size: 22px;
	color: white;
	height: 48px;
	display: inline-flex;
	vertical-align: middle;
	font-weight: bold;
	// border-bottom: 1px solid;
	// background-color: #001f3f;
}

.alpha-settings-title-button {
	text-align: center;
	vertical-align: middle;
}

.para-heading {
	color: white;
	text-align: center;
}

.alpha-op-title {
	width: 100%;
	table-layout: fixed;
	border: 0px !important;
	border-spacing: 0px !important;
}

.alpha-op-title tr {
	font-size: 14px;
	color: silver;
	height: 48px;
	width: 100%;
	vertical-align: middle;
	padding-left: 30px;
	// border-bottom: 1px solid;
	background-color: rgb(55, 55, 55);
}

.alpha-op-title tr:hover {
	color: white;
	background-color: #001020;
}

.alpha-op-title td {
	width: 200px;
	text-align: left;
	padding-left: 10px;
}

.alpha-settings-title-text {
	padding-left: 30px;
}

.alpha-read-only-title {
	font-size: 14px;
	padding-left: 50px;
}

.main-content {
	background-color: rgb(55, 55, 55) !important;
}

.alpha-feed-thm {
	color: cyan;
}

.nav-sep {
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.login {
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: darkgray;
}

.login-form {
	padding: 40px;
}

.view-alpha-dlg { 
	// max-height: 60% !important;
	max-width: 40% !important;
	padding: 0px;
	overflow-y: scroll;
	background-color: #272822;
}

.error-text {
	color: red;
}

.success-text {
	color: green;
}


#splitPanel {
	height: 100%;
	width: 100%;
	display: flex;
}

#splitPanelLHS {
	width: 15% !important;
	background-color: blue;
}

#splitPanelContent {
	width: 85% !important;
	overflow-y: auto !important;
	background-color: green;
}
// #rightThing {
// 	width: 25%;
// 	background-color: yellow;
// }


.right {
	text-align: right;
}
  
.middle {
	text-align: center;
}
  
.left {
	text-align: left !important;
}

.table-header{
	background: #272822 !important;
}
 
.table-header th {
	background-color: #272822 !important;
	color: cyan !important;
	// font-weight: bold;
	font-size: 14px;
}
